<template lang="pug">
.container
  TheHeader
  .content
    nav.sidebar
      ul.side-nav
        li.side-nav__item.side-nav__item--active
          a.side-nav__link(href="#")
            svg.side-nav__icon
              use(xlink:href="../assets/sprite.svg#icon-home")
            span Hotel
        li.side-nav__item
          a.side-nav__link(href="#")
            svg.side-nav__icon
              use(xlink:href="../assets/sprite.svg#icon-aircraft-take-off")
            span Flight
        li.side-nav__item
          a.side-nav__link(href="#")
            svg.side-nav__icon
              use(xlink:href="../assets/sprite.svg#icon-key")
            span Car rent
        li.side-nav__item
          a.side-nav__link(href="#")
            svg.side-nav__icon
              use(xlink:href="../assets/sprite.svg#icon-map")
            span Tours
      .legal &copy; 2022 by trillo. All rights reserved
    main.hotel-view
      .gallery
        figure.gallery__item
          img.gallery__photo(src="../assets/hotel-1.jpg" alt="Photo of hotel 1")
        figure.gallery__item
          img.gallery__photo(src="../assets/hotel-2.jpg" alt="Photo of hotel 2")
        figure.gallery__item
          img.gallery__photo(src="../assets/hotel-3.jpg" alt="Photo of hotel 3")
      .overview
        h1.overview__heading Hotel Las Palmas
        .overview__stars
          svg.overview__icon-star
            use(xlink:href="../assets/sprite.svg#icon-star")
          svg.overview__icon-star
            use(xlink:href="../assets/sprite.svg#icon-star")
          svg.overview__icon-star
            use(xlink:href="../assets/sprite.svg#icon-star")
          svg.overview__icon-star
            use(xlink:href="../assets/sprite.svg#icon-star")
          svg.overview__icon-star
            use(xlink:href="../assets/sprite.svg#icon-star")
        .overview__location
          svg.overview__icon-location
            use(xlink:href="../assets/sprite.svg#icon-location-pin")
          button.btn-inline Albufeira, Portugal
        .overview__rating
          .overview__rating--average 8.6
          .overview__rating--count 429 votes
      .details
        .description
          p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
          p.paragraph Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
          ul.list
            li.list__item Close to the beach
            li.list__item Breakfast included
            li.list__item Free airport shuttle
            li.list__item Free wifi in all rooms
            li.list__item Air conditioning and heating
            li.list__item Pets allowed
            li.list__item We speak all languages
            li.list__item Perfect for families
          .recommend
            p.recommend__count Lucy and 3 other friends recommend this hotel
            .recommend__friends
              img.recommend__photo(src="../assets/user-3.jpg" alt="Friend 1")
              img.recommend__photo(src="../assets/user-4.jpg" alt="Friend 2")
              img.recommend__photo(src="../assets/user-5.jpg" alt="Friend 3")
              img.recommend__photo(src="../assets/user-6.jpg" alt="Friend 4")
        figure.user-reviews
          figure.review
            blockquote.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.
            figcaption.review__user
              img.review__photo(src="../assets/user-1.jpg" alt="User 1")
              .review__user-box
                p.review__user-name Nick Smith
                p.review__user-date Feb 23rd, 2022
              .review__rating 7.8
          figure.review
            blockquote.review__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi.
            figcaption.review__user
              img.review__photo(src="../assets/user-2.jpg" alt="User 2")
              .review__user-box
                p.review__user-name Mary Thomas
                p.review__user-date Sept 13rd, 2022
              .review__rating 9.3
          button.btn-inline Show all
            span &rarr;
      .cta
        h2.cta__book-now Good news! We have 4 free rooms for your selected dates!
        button.btn
          span.btn__visible Book now
          span.btn__invisible Only 4 rooms left
</template>

<script setup lang="ts">
import TheHeader from '@/components/TheHeader.vue'
</script>
