<template lang="pug">
header.header
  img.logo(src="../assets/logo.png" alt="Trillo logo")
  form.search(action="#")
    input.search__input(placeholder="Search hotels")
    button.search__button
      svg.search__icon
        use(xlink:href="../assets/sprite.svg#icon-magnifying-glass")
  nav.user-nav
    .user-nav__icon-box
      svg.user-nav__icon
        use(xlink:href="../assets/sprite.svg#icon-bookmark")
      span.user-nav__notification 7
    .user-nav__icon-box
      svg.user-nav__icon
        use(xlink:href="../assets/sprite.svg#icon-chat")
      span.user-nav__notification 13
    .user-nav__user
      img.user-nav__user-photo(src="../assets/user.jpg" alt="User Photo")
      span.user-nav__user-name Jonas
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">

</style>
